*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease;
}
body{
    font-family: 'Roboto Slab', serif;
    color: #17202A;
}
h1, h2{
    font-size: 2em;
}
p{
    font-size: 1.2em;
    line-height: 35px;
}
.contenedor{
    width: 100%;
    height: 100vh;
    background-color: #fc0;
    background-image: url(../media/fondo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cajaprincipal{
    padding: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.joinCharacter, .subject{
    display: block;
    padding: 35px;
    width: 50%;
}
.joinCharacter img{
    width: 150px;
    margin: 10px auto;
}
.subject h1, .subject h3, .noAlign p{
    padding: 10px 0;
}
.noAlign{
    text-align: justify;
}
.subject #botonPlay{
    color: #fff;
    background-color: #f00;
    padding: 10px 35px;
    margin: 10px auto;
    border-radius: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
}
.subject #botonPlay:hover{
    background-color: #0b0;
}
.creditos{
    position: fixed;
    bottom: 0;
    margin: 10px auto 10px auto;
    border-top: solid 1px #fff;
    padding: 10px 50px 0 50px;
    cursor: pointer;
    font-size: 1.1em;
}
.creditos a{
    text-decoration: none;
    color: #17202A;
}
.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms ease;
}
.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}
.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 600ms;
}
.img{
    width: 50%;
    background-image: url(../media/celula.jpg);
    background-size: cover;
    background-position: center;
}
.container-text{
    width: 60%;
    padding: 75px;
    overflow-y: auto;
    align-items: center;
}
.container-text h1{
    font-size: 30px;
}
.container-text p{
    margin-top: 20px;
    font-size: 16px;
}
.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
}